img {
    max-width: 100%;
}
body{
    background-color:#171717;
    color: white;
}
.py-4{
    background-color: #171717;
}

.navbar-brand img{
    width: 180px;
}
.movie-poster {
    height: 250px;

}
.movie-poster img{
    object-fit: cover;
}
.logo{
    width: 140px;
    height: 40px;
}
ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 7px;
    text-decoration: none;
}
  

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    color: rgb(71, 71, 225);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
