body{
    background-color:#424040;
    color: white;
}
.py-4{
    background-color: #171717;
}
img {
    max-width: 100%;
}



.navbar-brand img{
    width: 180px;
}
.movie-poster {
    height: 250px;

}
.movie-poster img{
    object-fit: cover;
}
.logo{
    width: 140px;
    height: 40px;
}
ul{
    list-style-type: none;
}

footer a{
    text-decoration: none;
}
.top {
    display: flex;
    align-items: center;
  }

.top a {
    text-decoration: none;
    margin-right: 10px;
}
.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(189, 186, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
}
.stars1 {
    font-size: 24px;
    color: gold;
}
.stars2 {
    font-size: 24px;
    color: rgb(167, 163, 141);
}
.stars-container {
    display: flex;
    align-items: center; 
}

.stars1, .stars2 {
    margin-right: 5px; 
}
.genre-container {
    display: flex;
    justify-content: space-between; 
    
}


.genre-container p {
    margin: 0; 
}
.genre-container p:hover{
    color: blue;
    cursor: pointer;
    
}
.button-xp {
    background-color: rgb(0, 0, 218);
    color: white;
    font-size: 24px;
    width:12%;
    height: 80px;
    border-radius: 10%;

}
.row-container {
    display: flex;
    align-items: center;
}

.row-container .divider {
    width: 1px;
    height: 1.5em; 
    background-color: #000; 
    margin: 0 8px; 
}

.row-container button,
.row-container h3 {
    margin: 0; 
}

.row-container h3:hover{
    cursor: pointer;
}
.poster {
    height: 130px;
    width: 130px;
}

 /*----------------------------------*/
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 7px;
    text-decoration: none;
}
  

li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {
    color: rgb(71, 71, 225);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}